<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TelemachusDemoMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TelemachusDemoiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93856C0C1B46116B00FB9925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93856C1F1B46116B00FB9925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93856C301B46118000FB9925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93856C3E1B46118000FB9925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
